/*
 * This code was generated by
 *  ___ ___   _   ___ _  _    _____ _   _    _  ___   ___      _   ___ ___      ___   _   ___     ___ ___ _  _ ___ ___    _ _____ ___  ___ 
 * | _ \ __| /_\ / __| || |__|_   _/_\ | |  | |/ | \ / / |    /_\ | _ ) __|___ / _ \ /_\ |_ _|__ / __| __| \| | __| _ \  /_\_   _/ _ \| _ \
 * |   / _| / _ \ (__| __ |___|| |/ _ \| |__| ' < \ V /| |__ / _ \| _ \__ \___| (_) / _ \ | |___| (_ | _|| .` | _||   / / _ \| || (_) |   /
 * |_|_\___/_/ \_\___|_||_|    |_/_/ \_\____|_|\_\ |_| |____/_/ \_\___/___/    \___/_/ \_\___|   \___|___|_|\_|___|_|_\/_/ \_\_| \___/|_|_\
 *                                                                                                                                         
 * Reach Authentix API
 *  Reach Authentix API helps you easily integrate user authentification in your application. The authentification allows to verify that a user is indeed at the origin of a request from your application.  At the moment, the Reach Authentix API supports the following channels:    * SMS      * Email   We are continuously working to add additionnal channels. ## Base URL All endpoints described in this documentation are relative to the following base URL: ``` https://api.reach.talkylabs.com/rest/authentix/v1/ ```  The API is provided over HTTPS protocol to ensure data privacy.  ## API Authentication Requests made to the API must be authenticated. You need to provide the `ApiUser` and `ApiKey` associated with your applet. This information could be found in the settings of the applet. ```curl curl -X GET [BASE_URL]/configurations -H \"ApiUser:[Your_Api_User]\" -H \"ApiKey:[Your_Api_Key]\" ``` ## Reach Authentix API Workflow Three steps are needed in order to authenticate a given user using the Reach Authentix API. ### Step 1: Create an Authentix configuration A configuration is a set of settings used to define and send an authentication code to a user. This includes, for example: ```   - the length of the authentication code,    - the message template,    - and so on... ``` A configuaration could be created via the web application or directly using the Reach Authentix API. This step does not need to be performed every time one wants to use the Reach Authentix API. Indeed, once created, a configuartion could be used to authenticate several users in the future.    ### Step 2: Send an authentication code A configuration is used to send an authentication code via a selected channel to a user. For now, the supported channels are `sms`, and `email`. We are working hard to support additional channels. Newly created authentications will have a status of `awaiting`. ### Step 3: Verify the authentication code This step allows to verify that the code submitted by the user matched the one sent previously. If, there is a match, then the status of the authentication changes from `awaiting` to `passed`. Otherwise, the status remains `awaiting` until either it is verified or it expires. In the latter case, the status becomes `expired`. 
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


using Newtonsoft.Json;
using System;
using System.Collections.Generic;
using Reach.Base;
using Reach.Clients;
using Reach.Converters;
using Reach.Exceptions;
using Reach.Http;



namespace Reach.Rest.Api.Authentix.ConfigurationItem
{
    public class AuthenticationControlItemResource : Resource
    {
    

        
        private static Request BuildCheckRequest(CheckAuthenticationControlItemOptions options, IReachRestClient client)
        {
            
            string path = "/rest/authentix/v1/configurations/{configurationId}/authentication-controls";

            string PathConfigurationId = options.PathConfigurationId;
            path = path.Replace("{"+"configurationId"+"}", PathConfigurationId);

            return new Request(
                HttpMethod.Post,
                Rest.Domain.Api,
                path,
                postParams: options.GetParams(),
                headerParams: null
            );
        }

        /// <summary> This operation allows check the correctness of a code provided by the end user. This operations only concerns authentication in `awaiting` state.   In case a check is performs on an authentication whose status is different from `awaiting`, an 404 HTTP response is returned.  </summary>
        /// <param name="options"> Check AuthenticationControlItem parameters </param>
        /// <param name="client"> Client to make requests to Reach(TalkyLabs) </param>
        /// <returns> A single instance of AuthenticationControlItem </returns>
        public static AuthenticationControlItemResource Check(CheckAuthenticationControlItemOptions options, IReachRestClient client = null)
        {
            client = client ?? ReachClient.GetRestClient();
            var response = client.Request(BuildCheckRequest(options, client));
            return FromJson(response.Content);
        }

        #if !NET35
        /// <summary> This operation allows check the correctness of a code provided by the end user. This operations only concerns authentication in `awaiting` state.   In case a check is performs on an authentication whose status is different from `awaiting`, an 404 HTTP response is returned.  </summary>
        /// <param name="options"> Check AuthenticationControlItem parameters </param>
        /// <param name="client"> Client to make requests to Reach(TalkyLabs) </param>
        /// <returns> Task that resolves to A single instance of AuthenticationControlItem </returns>
        public static async System.Threading.Tasks.Task<AuthenticationControlItemResource> CheckAsync(CheckAuthenticationControlItemOptions options,
        IReachRestClient client = null)
        {
            client = client ?? ReachClient.GetRestClient();
            var response = await client.RequestAsync(BuildCheckRequest(options, client));
            return FromJson(response.Content);
        }
        #endif

        /// <summary> This operation allows check the correctness of a code provided by the end user. This operations only concerns authentication in `awaiting` state.   In case a check is performs on an authentication whose status is different from `awaiting`, an 404 HTTP response is returned.  </summary>
        /// <param name="pathConfigurationId"> The identifier of the configuration being used. </param>
        /// <param name="dest"> The phone number or email being authenticated. Phone numbers must be in E.164 format. Either this parameter or the `authenticationId` must be specified. </param>
        /// <param name="code"> The 4-10 character string being verified. This is required for `sms` and `email` channels. </param>
        /// <param name="authenticationId"> The ID of the authentication being checked. Either this parameter or the to `dest` must be specified. </param>
        /// <param name="paymentInfo"> Information related to the digital payment to authenticate. It is required when `usedForDigitalPayment` is true. It is ignored otherwise. It is a stringfied JSON map where keys are `payee`, `amount`, and `currency` and the associated values are respectively the payee, the amount, and the currency of a financial transaction.  </param>
        /// <param name="client"> Client to make requests to Reach(TalkyLabs) </param>
        /// <returns> A single instance of AuthenticationControlItem </returns>
        public static AuthenticationControlItemResource Check(
                                          string pathConfigurationId,
                                          string dest = null,
                                          string code = null,
                                          string authenticationId = null,
                                          string paymentInfo = null,
                                          IReachRestClient client = null)
        {
            var options = new CheckAuthenticationControlItemOptions(pathConfigurationId){  Dest = dest, Code = code, AuthenticationId = authenticationId, PaymentInfo = paymentInfo };
            return Check(options, client);
        }

        #if !NET35
        /// <summary> This operation allows check the correctness of a code provided by the end user. This operations only concerns authentication in `awaiting` state.   In case a check is performs on an authentication whose status is different from `awaiting`, an 404 HTTP response is returned.  </summary>
        /// <param name="pathConfigurationId"> The identifier of the configuration being used. </param>
        /// <param name="dest"> The phone number or email being authenticated. Phone numbers must be in E.164 format. Either this parameter or the `authenticationId` must be specified. </param>
        /// <param name="code"> The 4-10 character string being verified. This is required for `sms` and `email` channels. </param>
        /// <param name="authenticationId"> The ID of the authentication being checked. Either this parameter or the to `dest` must be specified. </param>
        /// <param name="paymentInfo"> Information related to the digital payment to authenticate. It is required when `usedForDigitalPayment` is true. It is ignored otherwise. It is a stringfied JSON map where keys are `payee`, `amount`, and `currency` and the associated values are respectively the payee, the amount, and the currency of a financial transaction.  </param>
        /// <param name="client"> Client to make requests to Reach(TalkyLabs) </param>
        /// <returns> Task that resolves to A single instance of AuthenticationControlItem </returns>
        public static async System.Threading.Tasks.Task<AuthenticationControlItemResource> CheckAsync(
                                                                                  string pathConfigurationId,
                                                                                  string dest = null,
                                                                                  string code = null,
                                                                                  string authenticationId = null,
                                                                                  string paymentInfo = null,
                                                                                  IReachRestClient client = null)
        {
        var options = new CheckAuthenticationControlItemOptions(pathConfigurationId){  Dest = dest, Code = code, AuthenticationId = authenticationId, PaymentInfo = paymentInfo };
            return await CheckAsync(options, client);
        }
        #endif
    
        /// <summary>
        /// Converts a JSON string into a AuthenticationControlItemResource object
        /// </summary>
        /// <param name="json"> Raw JSON string </param>
        /// <returns> AuthenticationControlItemResource object represented by the provided JSON </returns>
        public static AuthenticationControlItemResource FromJson(string json)
        {
            try
            {
                return JsonConvert.DeserializeObject<AuthenticationControlItemResource>(json);
            }
            catch (JsonException e)
            {
                throw new ApiException(e.Message, e);
            }
        }
        
        /// <summary>
        /// Converts this instance to a JSON string.
        /// </summary>
        /// <returns> a Json string of this object </returns>
        public string ToJson()
        {
            try
            {
                return JsonConvert.SerializeObject(this, Formatting.Indented);
            }
            catch (JsonException e)
            {
                throw new ApiException(e.Message, e);
            }
        }
        
        /// <summary>
        /// Convert to string
        /// </summary>
        /// <returns>String representation</returns>
        public override string ToString()
        {
        	try
            {
                return ToJson();
            }
            catch (ApiException e)
            {
                return base.ToString();
            }
        
        }

    
        ///<summary> The identifier of the applet. </summary> 
        [JsonProperty("appletId")]
        public string AppletId { get; private set; }

        ///<summary> The API version. </summary> 
        [JsonProperty("apiVersion")]
        public string ApiVersion { get; private set; }

        ///<summary> The identifier of the configuration. </summary> 
        [JsonProperty("configurationId")]
        public string ConfigurationId { get; private set; }

        ///<summary> The identifier of the authentication. </summary> 
        [JsonProperty("authenticationId")]
        public string AuthenticationId { get; private set; }

        ///<summary> The outcome of the authentication control. </summary> 
        [JsonProperty("status")]
        public string Status { get; private set; }

        ///<summary> The phone number or email being verified. Phone numbers must be in E.164 format. </summary> 
        [JsonProperty("dest")]
        public string Dest { get; private set; }

        ///<summary> The channel used. </summary> 
        [JsonProperty("channel")]
        public string Channel { get; private set; }

        ///<summary> The paymentInfo </summary> 
        [JsonProperty("paymentInfo")]
        public PaymentInfo PaymentInfo { get; private set; }

        ///<summary> The date and time in GMT that the authentication was created.  </summary> 
        [JsonProperty("dateCreated")]
        public DateTime? DateCreated { get; private set; }

        ///<summary> The date and time in GMT that the authentication was last updated.  </summary> 
        [JsonProperty("dateUpdated")]
        public DateTime? DateUpdated { get; private set; }



        private AuthenticationControlItemResource() {

        }
    }
}

